+comment('general style')
+ic
.main-heading
  margin-bottom: 23px
  font: 600 40px/40px Arial, sans-serif
  text-transform: uppercase
.ic-map-marker
  margin-right: 5px
  width: 27px
  height: 36px
  background: transparent url("../img/icons/map.png") no-repeat scroll 0 0
  +contain
.nav-tabs
  border: 0 none
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover
  border:
    top: 0 none
    right: 0 none
    left: 0 none
    bottom: 2px solid #ed1c24
  color: #ed1c24
.nav>li>a
  color: #000
  +transition(color .3s ease-out)
  &:focus, 
  &:hover
    background: none
    border-color: transparent
    color: #ed1c24
.modal-content
  padding-left: 15px
  padding-right: 15px

@each $ic in beauty
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in cafe
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in child
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in clothes
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in cosmetic
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in dosug
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in furniture
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in presents
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in shoes
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
@each $ic in sport
  .ic-#{$ic}
    +svgb(#{$ic}, 96, 96)
+comment("home page style")
.navbar-brand
  width: 100%
  height: auto
  color: #3c4b76
  &__logo
    margin: 0 auto
  &__descr
    display: block
    font: 700 38px/44px Arial, sans-serif
.intro
  &__text
    padding-right: 50px
    font-size: 25px
.map
  &__heading
    font: 400 25px/25px Arial, sans-serif
.toolbar
  margin-top: 20px
  margin-bottom: 30px
  &__item
    position: relative
    margin-top: 20px
    padding-left: 15px
    padding-right: 15px
    width: 14.28571%
    height: 128px
    float: left
    &--big
      width: 28.57142%
  &__ic
    display: block
    +ica
  &__link
    display: block
    height: 100%
    &--1
      background-color: #364c61
    &--2
      background-color: #be1e4a
    &--3
      background-color: #d35701
    &--4
      background-color: #a560bd
    &--5
      background-color: #3baae2
    &--6
      background-color: #344a61
    &--7
      background-color: #bf3a2b
.slider
  margin-top: 20px
.map
  position: relative
  padding-bottom: 30px
  &__picture
    margin: 0 auto
  &__link
    position: relative
    display: inline-block
    cursor: pointer
    &--hover
      +coverdiv
      background-color: #000
      opacity: 0
      +transition(opacity .3s ease-out)
      &:hover
        opacity: .8
        .map
          &__icon
            font-size: 150px
  &__icon
    position: absolute
    top: 50%
    left: 50%
    +transform(translate(-50%, -50%))
    font-size: 10px
    color: #fff
    +transition( font-size .2s ease-out )

+r(1080)
  .container
    width: 1050px
  .modal-lg
    width: 1050px
